[Desktop Entry]
Name=Youtube
Exec=bash -c "google-chrome --app="https://www.youtube.com" %U"
Icon=/home/devpogi/.icons/Papirus/64x64/apps/youtube.svg
Type=Application
Terminal=false
Categories=Internet;
